<!-- ポップアップダイアログの基本 -->
<!DOCTYPE html>
<html lang="ja">
<html>
  <head>
    <meta charset="UTF-8" />
    <link href="assets/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="assets/jquery.js" type="text/javascript"></script>
    <script src="assets/bootstrap.js" type="text/javascript"></script>
  </head>
  <body>
    <div class="container">
      <a data-toggle="modal" href="#main" class="btn btn-primary">起動</a>
      <div class="modal hide fade" id="main">
        <div class="modal-header">
          <a data-dismiss="modal" class="close">&times;</a>
          <h3>div.modal-header h3</h3>
        </div>
        <div class="modal-body">
          <p>div.modal-body</p>
        </div>
        <div class="modal-footer">
          <p>div.modal-footer</p>
          <a href="#" class="btn btn-primary">btn btn-primary</a>
          <a href="#" class="btn">btn</a>
          <a data-dismiss="modal" class="btn">data-dismiss="modal" のタグで閉じれる</a>
        </div>
      </div>
    </div>
  </body>
</html>
